<div class="container center">
<div class="row">
	<div class="col s8 offset-s2">
		<h4 class="blue-grey-text text-lighten-2">Resend confirmation instructions</h4>
	</div>
</div>
<div class="row">
<div class="col s6 offset-s3">
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="input-field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit "Resend",class:"btn waves-effect waves-light" %>
  </div>
<% end %>
</div>
</div>
<%= render "devise/shared/links" %>
</div>