<div class="card-content">
	<%= render 'shared/progress', resource: task%>
	<div class="card-title left"><%= link_to task.title  %></div>
	<% if current_user == task.parent_project.creator || current_user == task.user %>
	<button class="dropdown-button no-btn card-title right" data-activates="dropdown-task-members">
		<%= render 'tasks/assignee', task: task %>
	</button>
	<% else %>
	<%= render 'tasks/assignee', task: task %>
	<% end %>
	<div class="card-title right">
		<div class="chip">
			<%= due_when(task.due_date)%>
		</div>
	</div>
	<div class="clearfix"></div>
	<p class="grey-text">
	Belongs to the <%= task.taskable.class.name %>  
	<%= link_to task.taskable.title, belongs_to_url(task)%>
	</p>
	<p> <%= task.description %></p>
	<div class="row">
		<div class="col s6">
		<%= render 'tasks/subtasks', task: task %>
		</div>
		<div class="col s6">
			<ul class="collection with-header comments">
				<li class="collection-header"><b>Comments</b></li>
				<%= render task.comments, task: task %>
				<%= render 'tasks/comments_form', task: task%>
			</ul>
		</div>
	</div>
	<%= render 'tasks/actions', task: task%>
</div>