<div class="card">
	
	<%= render 'tasks/task', task: @task%>
	<%= render 'tasks/subtasks', task: @task %>
	<div class="card-action">
		<%= link_to 'Follow',follow_task_path(@task),method: :post%>
		<%= link_to 'Add SubTask', new_task_task_path(@task) %>
		<%= link_to 'All SubTask', task_tasks_path(@task) %>
		<%	if @task.user == current_user || current_user == @task.parent_project.creator %>	
		<%= link_to 'Edit Task', edit_project_task_path(@project,@task) %>	
		<%= link_to 'Delete Task', project_task_path(@project,@task),method: :delete, data: {confirm: "Are you sure?"},class: "right" %>
		<% end %>
	</div>
</div>

<ul id="dropdown1" class="dropdown-content full-width">
	<% @project.members.each do |member|%>
	<li class="padding assign-member">
		<p class="details" style="display: none;"
		data-id="<%= member.id%>"
		data-project-id="<%= params[:project_id] %>"
		data-task-id="<%= params[:id] %>"
		data-path="<%= project_task_url(@project,@task)%>" ></p>
		<p><%= member.name %></p>
		<p class="grey-text"><%= member.email %></p>
	</li>
	<li class="divider"></li>
	<% end %>
</ul>

