<div class="container">
	<div class="card">
		<div class="card-content">
			<% @subtasks.each do |subtask| %>
			<%= render 'shared/progress', resource: subtask%>
			<div class="card-title"><%= link_to subtask.title %></div>
			<p> <%= subtask.description %> </p>
		</div>
		<div class="card-action">
			<% if subtask.user == current_user %>
			<%= link_to 'Delete SubTask', task_task_path(@task,subtask),method: :delete, data: {confirm: "Are you sure?"},class: "right" %>
			<%= link_to 'Edit SubTask', edit_task_task_path(@task,subtask) %>
			<% end %>
			<% end %>
		</div>
	</div>
</div>

