<div class="card">
	
	<%= render 'tasks/task', task: @subtask %>
	<div class="card-action">
		<%= link_to 'Follow',follow_task_path(@subtask),method: :post%>
		<%= link_to 'Add SubTask', new_task_task_path(@subtask) %>
		<%= link_to 'All SubTask', task_tasks_path(@subtask) %>
		<%	if @subtask.user == current_user %>	
		<%= link_to 'Edit Task', edit_task_task_path(@subtask.taskable,@subtask) %>	
		<%= link_to 'Delete Task', task_task_path(@subtask.taskable,@subtask),method: :delete, data: {confirm: "Are you sure?"},class: "right" %>
		<% end %>
	</div>
</div>

<ul id="dropdown1" class="dropdown-content full-width">
	<% @project.members.each do |member|%>
	<li class="padding assign-member">
		<p class="details" style="display: none;"
		data-id="<%= member.id%>"
		data-project-id="<%= params[:project_id] %>"
		data-task-id="<%= params[:id] %>"
		data-path="<%= task_task_url(@subtask.taskable,@subtask)%>" ></p>
		<p><%= member.name %></p>
		<p class="grey-text"><%= member.email %></p>
	</li>
	<li class="divider"></li>
	<% end %>
</ul>

