<% if !user.nil? %>
	<%= link_to user_path(user) do %>
	<div class="avatar-circle<%= size||= nil %> circle">
		<span class= "initials tooltipped" data-position="top" data-delay="50" data-tooltip="<%= user.name %>" >
			<%= user.initials -%>
		</span>
	</div>
	<% end %>
<% else %>
	<div class='avatar-circle<%= size ||= nil %> circle'>
	</div>
<% end %>