<div>
	<div class="row">
		<div class="col s2 pinned">
			<ul class="collection">
				<a class="collection-item" onclick="toggle('projects')">Projects</a>
				<a class="collection-item" onclick="toggle('tasks')">Tasks</a>
			</ul>
		</div>
		<div class="col s10 offset-s2" id="projects">
			<nav class="white">
				<div class="nav-wrapper">
					<form>
						<div class="input-field">
							<input id="search" class="search" type="search" required>
							<label for="search"><i class="material-icons teal-text">search</i></label>
							<i class="material-icons">close</i>
						</div>
					</form>
				</div>
			</nav>
			<ul class="list">
				<%= render 'users/projects', projects: @projects %>
			</ul>
		</div>
		<div class="col s8 offset-s2 hide" id="tasks">
			<nav class="white">
				<div class="nav-wrapper">
					<form>
						<div class="input-field">
							<input id="search" class="search" type="search" required>
							<label for="search"><i class="material-icons teal-text">search</i></label>
							<i class="material-icons">close</i>
						</div>
					</form>
				</div>
			</nav>
			<ul class="list">
			<% @tasks.each do |task| %>
			<li class="card">
				<div class="card-content">
					<div class="card-title">
						<%= link_to task.title, project_task_path(task.taskable,task) %>
					</div>
					<p class="due-date">Due <%= due_when(task.due_date) %></p>
					<p><%= (task.taskable.class.name == 'Project') ? "Project" : "Task" %>:  <%= link_to task.taskable.title, user_project_path(current_user,task.taskable) %></p>
					<p class="card-description"><%= task.description %></p>
				</div>
				<div class="card-actions">
				</div>
			</li>
			<% end %>
			</ul>
		</div>
	</div>