<div class="row">
	<div class="col s12">
		<%= current_user.name + "'s" %> Projects
	</div>
</div>
<div class="container">
	
	<% @projects.each do |project| %>
	<div class="card">
		<div class="card-content">
			<%= render 'projects/progress', project: project %>
			<span class="card-title left">
				<%= link_to project.title, user_project_path(current_user,project) %>
			</span>
			<%= render 'projects/members_list', project: project %>
			<div class="clearfix"></div>
			<p class="grey-text">Started by <%= project.creator.name %></p>
			<p><%= project.description %></p>
			<div class="row">
				<div class="col s12">
					<%= render 'projects/tasks', project: project %>
				</div>
			</div>
		</div>
		<div class="card-action">	
			<% if current_user == project.creator %>
			<%= link_to 'Delete Project', [project.creator,project],method: :delete, data: {confirm: "Are you sure?"} %>
			<% end %>
		</div>
	</div>
	<% end %>
</div>