<div class="card">
	<div class="card-content">
		<span class="card-title"><%= link_to @project.title, user_project_path(current_user,@project) %></span>
		<p class="grey-text">Started by <%= @project.creator.name %></p>
		<p><%= @project.description %></p>
		<ul class="collection with-header">
			<li class="collection-header"><b>Tasks</b></li>
			<% @project.tasks.each do |task| %>
			<li class="collection-item">
				<%= link_to task.title,project_task_path(@project,task) %>
			</li>
			<% end %>
		</ul>
	</div>
	<div class="card-action">
		<%= link_to 'Add task', new_project_task_path(@project) %>
		<%= link_to 'Edit Project', [@project.creator,@project],method: :delete, data: {confirm: "Are you sure?"} %>
		<%= link_to 'Tasks', project_tasks_path(@project) %>
	</div>
</div>

