<nav>
    <div class="nav-wrapper  cyan darken-2">
    <% if user_signed_in? -%>
    <%= link_to 'Pull-It-Together',user_path(current_user),class:"brand-logo",style:"padding-left:1%;" %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      	<li>
      		<%= link_to(notifications_path) do %>
      			<i class="material-icons material-red-text left">
      			announcement
      			</i>
      			<% if new_notifications? %>
      			<span class="new badge light-green"></span>
      			<% else %>
      			<span class="new-notification"></span>
      			<% end %>
					<% end %>
      	</li>
      	<li><%= link_to 'New Project', new_user_project_path(current_user)%></li>
       
        <a class="dropdown-button no-btn card-title right" data-activates="dropdown2"><span  class="user"><%= current_user.initials %></span><i class="material-icons small right">arrow_drop_down</i></a>
      </ul>
    <% else %>
    <%= link_to 'Pull-It-Together',root_path,class:"brand-logo",style:"padding-left:1%;" %>
    <% end %>
    </div>
</nav>
 	<ul id="dropdown2" class="dropdown-content">
		<li><%= link_to 'Projects', user_projects_path(current_user)%></li>
		<li class="divider"></li>
		<li>
		<%= link_to 'Sign out', destroy_user_session_path, method: :delete%>
		</li>
	</ul>