<!DOCTYPE html>
<html>
<head>
	<title>Pits</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <% unless current_page?(root_path) -%>
  	<%= render 'layouts/header' %>
  	<% flash.each do |message_type, message| %>
  		<% if message_type == 'danger' || message_type == 'notice' %>
  			<%= javascript_tag 'data-turbolinks-eval'=>false, defer: 'defer' do -%>
  				Materialize.toast("<%= message %>", 2000);
  			<% end -%>
  		<% end -%>
  	<% end %>
  	<% flash.clear if !flash.empty? -%>
  <% end %>
 	<!--<p class="notice"><= notice %></p>%%
 	<p class="alert"><= alert %></p>-->
 
 	<%= yield %>

 	<%= debug(params) if Rails.env.development? %>
 	<%= render 'layouts/includes' %>
 </body>
 </html>
